body
{
  color: black;
  background: aqua;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotion_1_name ,#emotion_2_name 
{
  color: black;
  font-size: 25px;
}
.emotion_name
{
  font-size: 40px;
}
#emoji1,#emoji2
{
  font: size 20px;;
}

.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}